#thumbnails {
    position: relative;
    display: block;
    display: flex;
    flex-wrap: wrap;

}

#bigimage {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.thumb {
    flex: 1;
    margin: 5px;
    height: 100px;
    width: 100px;
    display: block;
    cursor: pointer;
    object-fit: cover;
}